/**
 *  Unset the default margin of tags
 */

/*------------------------------------*\
  Body
\*------------------------------------*/

body
  margin 0


/*------------------------------------*\
  Header and Paragraph
\*------------------------------------*/

h1, h2, h3, h4, h5, h6, p
  margin 0