.toasted .primary .action, .toasted.toasted-primary .action
  font-family 'Roboto', sans-serif
  color white !important

.toasted .primary, .toasted.toasted-primary
  font-family 'Roboto', sans-serif
  font-weight 400 !important
  color white !important

.toasted .primary.success, .toasted.toasted-primary.success
  background #046E89 !important
